* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    display: block;
    flex-direction: row;
    text-align: center;
    /* background-image: url(https://miro.medium.com/v2/resize:fit:1200/0*2ggUuUKOOiEHh7GS.jpg);
    background-repeat: no-repeat;
    background: stretch; */
    
}

h1 {
    padding: 100px;
    align-content: center;
    justify-content: center;
}

p {
    line-height: 1.75rem;
}

/* button {
    width: 200px;
    height: 80px;
    border-radius: 5px;
    border: 2px solid black;
} */