* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
    
}

/* button {
    width: 200px;
    height: 80px;
    border-radius: 5px;
    border: 2px solid black;
} */